<?xml version="1.0" encoding="UTF-8"?>
<configuration debug="true">

    <contextListener class="ch.qos.logback.classic.jul.LevelChangePropagator">
        <resetJUL>true</resetJUL>
    </contextListener>

    <!-- To enable JMX Management -->
    <jmxConfigurator/>

    <appender name="console" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%d{HH:mm:ss.SSS} [%thread] [%X{X-B3-TraceId:-}] %-5level %logger{5} lc:%X{logCode:-NA} - %msg%n</pattern>
            <!--<pattern>%-5level %logger{0} - %msg%n</pattern>-->
        </encoder>
    </appender>

    <timestamp key="timestamp" datePattern="yyyy-MM-dd"/>

    <appender name="file" class="ch.qos.logback.core.FileAppender">
        <file>./logging/bc-servicing_${timestamp}.log</file>
        <append>true</append>
        <encoder>
            <pattern>%d{HH:mm:ss.SSS} [%thread] [%X{X-B3-TraceId:-}] %-5level %logger{5} lc:%X{logCode:-NA} - %msg%n</pattern>
            <!--<pattern>%-5level %logger{0} - %msg%n</pattern>-->
        </encoder>
    </appender>

    <logger name="cz.kb" level="info"/>

    <root level="info">
        <appender-ref ref="console"/>
    </root>
</configuration>